$font-url: "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap";
$primary-font: "Roboto", sans-serif;

$primary-color: #f23e3d;
$secondary-color: #276ef1;
$dark-color: #000000;
$text-color: #4f4444;
$text-color-2: #353a46;
$light-grey-color: #f0f0f0;
$light-grey-color-2: #dddddd;
$light-grey-color-3: #9a9da3;
$grey-color: #a5a5a5;
$error-color: #f23e3d;
$white-color: #ffffff;
$blue-color: #276ef1;
$success-color: #1bce6c;
$warning-color: #ffa42f;

$dark-black: #020918;
$dark-black-2: #333333;
$light-gray: #666666;
$lighter-gray: #808080;
$border-color: #276ef1;
